	body {
		background: #e6eaff;
		font-family: 'Open Sans', sans-serif;
		border-top: 5px solid #000;
		border-bottom: 5px solid #000;
		width: auto;
	}
	nav ul li a {
		text-transform: capitalize;
		font-size: 18px;
		text-decoration: none;
	}
	nav {
		text-align: center;
		padding: 20px 0 5px 0;
	}
	ul {
		padding: 0;
		margin: 0;
		text-align: center;
	}
	li {
		display: inline-block;
	}
	a{
		color: black;
		text-transform: capitalize;
	}
	a:hover {
		color: #c3352d;
	}
	h2 {
		text-transform: uppercase;
		font-family: 'Comfortaa', cursive;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		margin: 0px;
		color: #2c1d63;
	}
	h3 {
		text-transform: uppercase;
		font-family: 'Comfortaa', cursive;
		font-size: 16px;
		letter-spacing: 2px;
		color: #2c1d63;
	}
	div {
		margin: 20px auto;
		padding: 10px 0;
		width: 85%;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	img {
		height: 250px;
		display: inline-block;
		float: right;
	}
	p {
		color: #222222;
		font-family: 'PT Serif', serif;
		font-size: 16px;
	}
	.social {
		padding: 0 0 30px 0;
	}