	body {
		background: #ccc5e8;
		font-family: Helvetica, sans-serif;
		padding: 50px;
	}
	nav ul li a {
		text-transform: capitalize;
		font-size: 22px;
	}
	a{
		color: black;
		text-decoration: none;
	}
	li {
		display: inline-block;
	}
	h3 {
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	div {
		margin: 20px 0;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
	img {
		height: 250px;
		display: block;
		margin: auto;
	}
	p {
		color: #222222;
		font-size: 16px;
	}
	.emoji {
		color: #298755;
		font-size: 34px;
	}